body {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  font-weight: 400;
  min-width: 1200px;
  background-color: #ffffff;
  background-image: url("img/img-fon2.png");
  background-position: 10% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  margin: 0 auto;
  max-width: 100%;
}
a {
  display: block;
  text-decoration: none;
  color: #000000;
}
p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  text-indent: 30px;
  text-align: justify;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  background-image: url("img/fon-viola.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.wrapper {
  display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
}
.left-column {
  width: 240px;
}
.right-column {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  width: 940px;
  border: 1px solid #696969;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 3px #696969;
          box-shadow: 0px 0px 8px 3px #696969;
}
.navigation-list {
  position: fixed;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 200px;
  list-style: none;
  border: 1px solid #696969;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 3px #696969;
         box-shadow: 0px 0px 8px 3px #696969;
}
.navigation-item a {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}
.navigation-item:hover a,
.navigation-item:focus a {
  color: #00008b;
  background-color: #e6e6fa;
}
.page-main__header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-main__title {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 32px;
}
.page-main__text {
  margin-top: 20px;
  width: 450px;
}
.page-main__image {
  width: 420px;
  height: 440px;
  border: 1px solid #696969;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 2px #696969;
          box-shadow: 0px 0px 5px 2px #696969;
}
.page-main__image img {
  width: 100%;
  height: 100%;
}
.page-main h2 {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 32px;
}
.page-main-link {
  padding-top: 5px;
}
.plants-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plants__text {
  width: 490px;
}
                             /*   Слайдер */
.slider-container {
  margin-top: 10px;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.plants__image {
  width: 380px;
  height: 365px;
  border: 1px solid #696969;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 2px #696969;
          box-shadow: 0px 0px 5px 2px #696969;
}
.plants__image img {
  width: 380px;
  height: 365px;
}
.slider-container {
  position: relative;
}
.slider-controls {
  position: absolute;
  left: 15px;
  bottom: 30px;
  width: 360px;
  height: 70px;
  font-size: 0;
  text-align: center;
}
.slider-controls-item {
  position: relative;
  display: inline-block;
  width: 77px;
  height: 74px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #696969;
  border-radius: 2px;
}
.slider-controls .slider-controls-item:first-child::after,
.slider-controls .slider-controls-item:nth-child(2)::after,
.slider-controls .slider-controls-item:last-child::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 71px;
  height: 68px;
  background-image: url("img/img-slide1-small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #696969;
  border-radius: 2px;
}
.slider-controls .slider-controls-item:nth-child(2)::after {
  background-image: url("img/img-slide2-small.jpg");
  background-size: cover;
}
.slider-controls .slider-controls-item:last-child::after {
  background-image: url("img/img-slide3-small.jpg");
}
.slider-item {
  display: none;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1){
  display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
.watering__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.watering__text {
  width: 450px;
}
.watering__image {
  margin-top: 10px;
  width: 420px;
  height: 440px;
  border: 1px solid #696969;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 2px #696969;
          box-shadow: 0px 0px 5px 2px #696969;
}
.watering__image img {
  width: 420px;
  height: 440px;
}
.lighting__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lighting__text {
  width: 450px;
}
.lighting__image {
  margin-top: 40px;
  width: 420px;
  height: 490px;
  border: 1px solid #696969;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 2px #696969;
          box-shadow: 0px 0px 5px 2px #696969;
}
.lighting__image img {
  width: 420px;
  height: 490px;
}
.fertilizer__image {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 420px;
  height: 440px;
  border: 1px solid #696969;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 2px #696969;
          box-shadow: 0px 0px 5px 2px #696969;
}
.reproduction__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reproduction__text {
  width: 450px;
}
.reproduction__image {
  margin-top: 40px;
  width: 420px;
  height: 490px;
  border: 1px solid #696969;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 2px #696969;
          box-shadow: 0px 0px 5px 2px #696969;
}
.reproduction__image img {
  width: 420px;
  height: 490px;
}
.disease__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.disease__text {
  width: 450px;
}
.disease__image {
  margin-top: 40px;
  width: 420px;
  height: 440px;
  border: 1px solid #696969;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 2px #696969;
          box-shadow: 0px 0px 5px 2px #696969;
}
.disease__image img {
  width: 420px;
  height: 440px;
}
.page-footer {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 960px;
  margin-left: 240px;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
}
.contacts-social {
  margin-left: 60px;
  width: 250px;
  text-align: center;
}
.page-footer__quote {
  margin-right: 60px;
  width: 240px;
  font-size: 14px;
  line-height: 26px;
}
.page-footer__quote p {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 35px;
  padding: 0;
  text-align: right;
}
.page-footer__quote cite {
  display: block;
  margin-right: 20px;
  text-align: right;
}
.page-footer b {
  display: block;
  font-size: 24px;
  line-height: 32px;
}
.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 250px;
  list-style: none;
}
.contacts-item {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #eeeeee;
  border: 4px solid #696969;
  border-radius: 17px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 5px 2px #696969;
          box-shadow: 0px 0px 5px 2px #696969;
}
.contacts-item:hover, .contacts-item:focus {
  border-color: #ffffff;
  opacity: 0.7;
}
.contacts-item:first-child {
  background-image: url("img/social-icons.png");
  background-position: -131.45px -79px;
}
.contacts-item:nth-child(2) {
  background-image: url("img/social-icons.png");
  background-position: -194px -79px;
}
.contacts-item:last-child {
  background-image: url("img/social-icons.png");
  background-position: -69px -1px;
}
.social-button {
  display: block;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  background-color: #8a2be2;
  border: 2px solid #696969;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 6px 2px #696969;
          box-shadow: 0px 0px 6px 2px #696969;
}
.social-button:hover, .social-button:focus {
  border-color: #ffffff;
  background-color: #a840ff;
  color: rgba(255, 255, 255, 0.5);
}
.page-main__form {
  display: none;
  position: fixed;
  width: 760px;
  top: 180px;
  left: 25%;
  padding: 60px 100px 80px 100px;
  margin: 0 auto;
  background-color: #f8f8ff;
  border-radius: 15px;
  -webkit-box-shadow: 0 30px 50px #696969;
          box-shadow: 0 30px 50px #696969;
  z-index: 10;
}
.form-show {
  display: block;
}
.user-regards {
  margin-bottom: 40px;
  padding: 0;
  border: none;
}
.page-main__form p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}
.page-main__form h3 {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: 26px;
  line-height: 26px;
}
.user-regards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
}
.user-text {
  padding: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  border: none;
}
.user-text legend {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}
.page-main__form input[type="text"] {
  -webkit-box-sizing: border-box;
         box-sizing: border-box;
  padding: 5px 10px;
  margin-left: 20px;
  width: 360px;
  font-size: 16px;
  color: #000000;
  border: 1px solid #696969;
  border-radius: 5px;
}
.page-main__form textarea[name="text"] {
  -webkit-box-sizing: border-box;
         box-sizing: border-box;
  padding: 5px 10px;
  width: 740px;
  font-size: 16px;
  color: #000000;
  border: 1px solid #696969;
  border-radius: 5px;
}
.form-button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 40%;
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(138, 43, 226);
  border: 2px solid #696969;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 4px 2px #696969;
          box-shadow: 0px 0px 4px 2px #696969;
}
.form-button:focus,
.form-button:hover {
  border-color: #ffffff;
  background-color: #a840ff;
  color: rgba(255, 255, 255, 0.5);
}
.form-close {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 40px;
  right: 40px;
  font-size: 0;
  background-color: #f8f8ff;
  border: none;
}
.form-close::before,
.form-close::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0px;
  width: 22px;
  height: 3px;
  background-color: #8a2be2;
}
.form-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
